/* color: rgb(240, 25, 230);
} */

table {
  table-layout: fixed;
  width: 95%;
  border-collapse: collapse;
  border: 2px solid purple;
  overflow: scroll;
  margin: 20px;
}

th,
td {
  padding: 20px;
}

th {
  background-color: #bdbdbd;
  border-bottom: 2px solid rgb(70, 70, 70);
}

tr:nth-child(odd) {
  background-color: rgb(243, 240, 243);
}

form {
  position: relative;
  padding: 8%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10%;
  border: 2px solid purple;
  margin: 20px;
}

ul {
  display: flex;
  background-color: rgb(214, 159, 202);
  font-weight: bolder;
  width: 100%;
  height: 20vh;
  margin: auto;
  max-width: 1000px;
  justify-content: space-between;
  text-align: center;
}

li {
  padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #2d2b2b;
  min-width: 80px;
  margin: auto;
}

li:hover {
  color: #75269a;
  animation: spring 300ms ease-out;
  text-shadow: 2px 2px #560675;
  font-weight: bold;
}
li:active {
  transform: translateY(4px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

.home {
  text-align: center;
  color: salmon;
  text-shadow: 2px 2px rgb(194, 16, 238);
  font-weight: bold;
}

.home-logo {
  opacity: 80%;
}

button {
  color: rgb(71, 70, 70);
  font-size: large;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 13px 30px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

button i {
  opacity: 0;
  font-size: large;
  transition: 0.2s;
  position: absolute;
  right: 10px;
  top: 21px;
  transition: transform 1;
}

button div {
  transition: transform 0.8s;
}

button:hover div {
  transform: translateX(-6px);
}

button::after {
  content: "";
  background-color: #55d5f2;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
}

button:hover i {
  opacity: 1;
  transform: translateX(-6px);
}

.songDetail {
  position: relative;
  margin: 0 auto;
  padding: 5%;
  display: grid;
  grid-gap: 20px;
  border: 2px solid purple;
  margin: 20px;
}

.Nav {
  display: flex;
  justify-content: space-evenly;
}
